<nav class="ui small top attached stackable menu">
  <div class="ui header item">
    <a href="/" class="link">HoratioFox Games</a>
  </div>
{% if loggedIn == true %}
  <div class="ui right secondary menu">
    <div class="item">
      <a href="/profile">
        <button class="ui basic button" data-tooltip="Edit Profile" data-position="right center">
          {{user.username|striptags|title}}
          <i class="icon right cog"></i>
        </button>
      </a>
    </div>

    <div class="right aligned item">
      <button id="logout-btn" class="ui button">Logout</button>
    </div>
  </div>

{% else %}
  <div class="ui right secondary menu">
    <div class="item">
      <button id="sign-up-btn" class="ui primary button">Sign up</button>
    </div>
    <div class="item">
      <button id="login-btn" class="ui button">Login</button>
    </div>
  </div>

{% endif %}
</nav>

<!-- templates for dialogs -->

<div id="login" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Login
  </div>
  <div class="content">
    <form class="ui form" method="POST" action="/login">
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" autocomplete="off">
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" autocomplete="off">
      </div>
      <!-- Messages  -->
      <div class="ui error hidden message" id="error-message">
        <i class="close icon"></i>
        <div class="header">
          Error
        </div>
        <p class="message-body">Incorrect login / password</p>
      </div>
    </form>
  </div>
  <div class="actions">
    <button id="login-btn" class="ui primary button">Login</button>
  </div>
</div>


<div id="sign-up" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Create an Account
  </div>
  <div class="content">
    <form class="ui form" method="POST" action="/users">
      <div class="field required">
        <label for="email">Email</label>
        <input type="email" name="email" autocomplete="off">
      </div>

      <div class="field required">
        <label for="password">Password (at least 8 characters long)</label>
        <input type="text" name="password" autocomplete="off">
      </div>

      <div class="field">
        <label for="username">Username</label>
        <input type="text" name="username" autocomplete="off">
      </div>
      <div class="two fields">
        <div class="field">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" autocomplete="off">
        </div>
        <div class="field">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" autocomplete="off">
        </div>
      </div>



      <div class="ui success hidden message" id="success-message">
        <i class="close icon"></i>
        <div class="header">
          Success
        </div>
        <p>Account Created!</p>
      </div>

      <div class="ui error hidden message" id="error-message">
        <i class="close icon"></i>
        <div class="header">
          Error
        </div>
        <p class="message-body">Sorry something went wrong there.</p>
      </div>
    </form>
  </div>

  <div class="actions">
    <button id="submit" class="ui primary button">Submit</button>
  </div>
</div>
