<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>HoratioFox</title>
  <meta name="author" content="Eric Glover">
  <meta name="description" content="Game site.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="google-site-verification" content="V3hjZurJSQkS2Wi3VX0f1nQ7RysKH_r4GHKeppHKd44" /> -->

  <!-- Semantic UI -->
  <link rel="stylesheet" type="text/css" href="/lib/semantic/semantic.min.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/lib/semantic/semantic.min.js"></script>

  <link href="/css/index.css" rel="stylesheet">
  <!-- TODO::: SETUP THE DEFAULTS FOR MODULES NOT BEING SUPPORTED  -->
  <!-- IT'S IN THE GOOGLE WEB DEVELOPER GUIDE I THINK -->
  <script type="module" src="/js/Errors.js"></script>
  <script type="module" src="/js/index.js"></script>
</head>

<body>
  {{ include('/partials/navbar.twig') }}

  <!-- body -->

  <div class="ui container segment">
    <h1>HoratioFox Games</h1>
    <p>Hello, world! And welcome to HoratioFox Games!</p>
    <p>The site is currently under construction but stay tuned for some moderately entertaining HTML5 and Unity Games made by yours truly - HoratioFox</p>
  </div>
  <!-- <div class="container">
    <div class="ui items">
      <div class="item">
        <div class="image">
          <img src="web/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Header</a>
          <div class="meta">
            <span>Description</span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
            Additional Details
          </div>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <img src="web/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">Header</a>
          <div class="meta">
            <span>Description</span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
            Additional Details
          </div>
        </div>
      </div>
    </div>
  </div> -->
</body>
</html>
