<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HoratioFox</title>
    <meta name="author" content="Eric Glover">
    <meta name="description" content="Game site">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <!-- Semantic UI -->
    <link rel="stylesheet" type="text/css" href="/lib/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/superStarTrek.css">
    <!-- JS -->
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/lib/semantic/semantic.min.js"></script>
    <script type="module" src="/dist/superStarTrek.bundle.js"></script>
<body style="font-size: 14px;">
{{ include('/partials/navbar.twig') }}
<h1 class="ui header">Super Star Trek</h1>

{#on tiny screens just use on terminal#}
{#<div id="terminal" class="tiny-screen"></div>#}

<div id="panes">
    <div id="main-pane" class="pane tiny-screen"></div>
    <div id="info-pane-1" class="pane info-pane medium-screen"></div>
    <div id="info-pane-2" class="pane info-pane large-screen"></div>
</div>

{#on large screens#}
{#<div class="large-screen">#}
{#    <div id="panes" class="ui grid" style="height: 100%; max-height: 100%; margin-top: 10px;">#}
{#        <div id="left" class="eight wide column"#}
{#             style="border-right: 10px solid gray; max-height: 100%; overflow: scroll;"></div>#}
{#        <div id="middle" class="eight wide column"#}
{#             style="min-width: 680px; padding: 0; display: flex; flex-flow: column nowrap;">#}
{#            <div id="right-top" class="" style="border-bottom: 10px solid gray; height: 50%;"></div>#}
{#            <div id="right-bottom" class="" style="height: 50%;"></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
</body>
</html>
